/* fonts styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
/* top players style */
.container{
    width: 870px;
    background-color: #FFFFFF;
    padding: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top:3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    /* grid-template-columns: 1fr 1fr 1fr; */

}
.player{
    display: flex;
    align-items:center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
.player img{
    width: 56px;
    height: 56px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 29px;
}